@model MyFlight.Models.AdminUser
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

@using (Html.BeginForm("Login", "AdminUser", FormMethod.Post))
{
    <label>User name</label>
    @Html.TextBoxFor(model => model.UserName)

    <label>Password</label>
    @Html.TextBoxFor(model => Model.Password)
    <input type="submit" value="Submit" />
}

