@model MyFlight.Models.AdminUser
@{
    ViewBag.Title = "Login";
}

<h1>Login</h1>

<form action="Submit" method="post">
    <label>User name:</label> <br />
    <input type="text" value="@Model.UserName" name="username" />  @Html.ValidationMessageFor(x => x.UserName)  <br />


    <label>Password:</label><br />
    <input type="text" value="@Model.Password" name="password" />  @Html.ValidationMessageFor(x => x.Password)<br />

    <input type="submit" value="Go" />

</form>
