@model MyFlight.Models.AdminUser

@{
    ViewBag.Title = "FlightListEdit";
}


<h2>
    All flights will be shown here and the admin will have the ability to change and edit
    each flight details
</h2>


